.rp_reg {
    display: table;
    margin: 0 auto;
    padding: 40px 60px;
}

.rp_headtext {
    text-align: center;

    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
}

.rp_reg_form {
    text-align: center;
    font-size: 20px;
}

.rp_reg_form ul {
    list-style: none;
}

.rp_reg_form button {
    margin-top: 30px;
    width: auto;
    height: 40px;
    padding: 0 20px;
    font-size: 20px;
    border: 0;
    border-radius: 25px;
    cursor: pointer;
    background-color: white;
    color: black;
    transition: 0.3s;
}

.rp_reg_form button:hover {
    color: white;
    background: #ab334b;
    transition: 0.2s;
}

.rp_reg_form input {
    width: 400px;
    height: 50px;
    border-radius: 30px;
    font-size: 30px;
    text-align: center;
}

.rp_reg_form p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 35px 0;
}

.rp_reg_form label {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    margin-bottom: 3px;
}

.rp_reg .errorlist{
    color: red;
}